.page {
  padding: 50px;
}

.wrapper {
  display: flex;
  justify-items: center;
  flex: 3;
}

.wrapper h2 {
  font-size: 5rem;
}

.wrapper a {
  font-size: 1.4rem;

}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: 0 10px;
}

.column button {
  margin: 8px 0;
}
.column textfield {
  min-height: 50px;
}
.column:nth-child(2) {
  margin: 0 30px;
}
.column p {
  margin: 0px 0;
}

.account {
  margin: 30px 0;
}

.account h1 {
  margin: 10px 0;
}
.header {
  margin-bottom: 30px !important;
}

.footer {
  margin-top: 80px !important;
}

.dialogcontent {
  padding: 0 25px;
}

.historycontent {
  max-height: 80vh;
  overflow: scroll;
  white-space: pre-wrap !important;
  margin: 0 50px;
}

.accountlist {
  max-height: 470px;
  overflow-y: scroll;
}

.configlist {
  overflow-y: scroll;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vertical {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.listActions {
  margin: 20px !important;
}

.listActions button {
  margin: 0 10px !important;
}